/* Resetting default margins and paddings */

:root {
  --themed-border: hsla(0, 0%, 100%, 0.14);
  --themed-border-grid: hsl(0deg 0% 0% / 14%);
  --themed-border-author: hsla(0, 72%, 18%, 0.247);
  --start-color: #00dfd8;
  --end-color: #007cf0;
  --themed-border-red:hsla(0, 100%, 50%, 0.63);
  --themed-border-nav:rgba(255, 255, 0, 0.788);
}

body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: Noto Sans, sans-serif;
  font-weight: 400;
  overflow-x: hidden;

}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-track {
  background: #f70000;
}

ul {
  margin: 0;
  padding: 0;
}

/* Styling the navigation */
nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative;
}

nav ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

nav ul ul li {
  display: block;
}

nav ul li:hover > ul {
  display: block;
}

.neon-cornel {
  padding: 1px;
  background: conic-gradient(
    from 186deg at 50% 50%,
    #333 126deg,
    #333 134deg,
    #ff0000 193deg,
    #333 217deg,
    #333 1turn
  );

  border-radius: 12px;
}

.neon-small {
  background-color: black;
  border-radius: 12px;
  padding: 5px;
}

.neon-son {
  padding: 19px;
  border-radius: 12px;
  background: linear-gradient(180deg, #242424, #121212 65.62%);
}

.typing {
  font-weight: 600;
  width: 580px;
  height: 60px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #4400ff;
  animation: typing 3s steps(12, end), cursor 0.2s steps(12, end) infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

.vc_gh_tuhss_366sjd:hover > .gh_tre_hgjt_438996 {
  display: inline;
  transition: all 0.25s;
  gap: 10px;
}

.gh_tre_hgjt_438996 {
  display: none;
  transition: all 0.25s;
  top: 50px;
}

.gh_tre_hgjt_438996 a {
  border-bottom: 2px solid red;
  transition: all 0.25s;
}
.ghte_ghhapps_derop {
  transition: all 0.25s;
  backdrop-filter: grayscale(100%);
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 0 1px var(--themed-border, transparent);
  background-color: black;
  position: relative;
}

.ribbon {
  position: absolute;
  top: 40px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-bottom: 14px solid rgb(255, 255, 255);
  transform: translateY(-100%);
  z-index: -1;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
}

.vc_gh_tuhss_366sjd {
  position: relative;

}

.gh_tre_hgjt_438996 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.vv_gg {
  background: transparent;
}

.vc_gh_tuhss_366sjd:hover {
  cursor: pointer;
}

.originalClass {
  color: red;
}

.newClass {
  color: #4400ff;
}

.nav_gation_e456 {
  border-radius: 9px;
  backdrop-filter: blur(14px);
  /* border: 0.5px solid rgb(77, 77, 77); */
}

input[type="search"] {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  border-width: 0px;
}

.vc_gh_tuhss_366sjd:hover > .ribbon {
  display: block;
}

.button {
  box-shadow: 0 0 0 1px rgb(0, 4, 255);
}
.button-1 {
  box-shadow: 0 0 0 1px yellow;
}

input[type="search"]:focus {
  box-shadow: 0 0 0 1px var(--themed-border, transparent);
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(-45deg, #6a5af9, #d66efd);
  border-radius: 10px;
}


/* Base styles */
.typing-effect {
  overflow: hidden; /* Ensures the text doesn't overflow */
  white-space: nowrap; /* Prevents the text from wrapping */
  animation: typing 5s steps(80, end) infinite; /* Animation for typing effect */
}

/* Keyframe animation */
@keyframes typing {
  from { width: 0; } /* Starts with no width */
  to { width: 40%; } /* Ends with full width */
}


#clock {
  font-size: 24px;
  font-family: MuseoModerno, sans-serif;
  text-align: center;
  color: #fff;
}

.content {
  display: none; /* Ẩn tất cả các nội dung ban đầu */
}

/* Hiển thị nội dung tương ứng khi button được nhấn */
#htmlContent.show,
#javascriptContent.show,
#tailwindcssContent.show,
#cssContent.show,
#nextjsContent.show {
  display: block;
  color: white;
}

/* Thêm màu cho button HTML mặc định */
button.selected {
  background-image: linear-gradient(to top , blue,rgba(0, 140, 255, 0.692)); /* Màu xanh lá cây */
  color: white; /* Màu chữ trắng */
}

.content-person_ry_77:hover > .content-hover_33df{
  transition: all 0.25s;
  top: 290px;
  

}
.content-person_ry_78:hover > .content-hover_33df{
  transition: all 0.25s;
  top: 290px;
  

}
.content-person_ry_79:hover > .content-hover_33df{
  transition: all 0.25s;
  top: 290px;
  

}

.content-person_ry_77{
  transition: all 0.25s;
  overflow: hidden;
  position: relative;

}
.content-person_ry_78{
  transition: all 0.25s;
  overflow: hidden;
  position: relative;

}
.content-person_ry_79{
  transition: all 0.25s;
  overflow: hidden;
  position: relative;

}

.content-hover_33df{
  position: absolute;
  top:340px;
  transition: all 0.25s;
  left: 50%;
  transform: translateX(-50%);

  
}

.content-hover_33df button{
  opacity: 0;
  transition: all 0.25s;
}

.content-person_ry_77:hover > .content-hover_33df button {
  transition: all 0.25s;
  opacity: 1;
}
.content-person_ry_78:hover > .content-hover_33df button {
  transition: all 0.25s;
  opacity: 1;
}
.content-person_ry_79:hover > .content-hover_33df button {
  transition: all 0.25s;
  opacity: 1;
}

.content-person_ry_77:hover{
  border: 1px solid white;
}

.content-person_ry_77:hover > .img-child-1 {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
 }
.img-child-1{
  transition: transform .2s;
}



.content-person_ry_78:hover{
  border: 1px solid white;
}

.content-person_ry_78:hover > .img-child-2 {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
 }
.img-child-2{
  transition: transform .2s;
}

.content-person_ry_79:hover{
  border: 1px solid white;
}

.content-person_ry_79:hover > .img-child-3 {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.2); 
 }
.img-child-3{
  transition: transform .2s;
}


.a_home_link:hover > .bt_home_link {
  border-bottom:1px solid rgb(252, 1, 1) ;
  width: 100%;
  transition: width 0.25s;
}
.a_home_link{
  transition: all 0.25s;
  transition: width 1s;
}

.bt_home_link{
  transition: width 1s;
  width: 0;
}


