.gh-123 {
  display: flex;
  gap: 14px;
  color: white;
  justify-content: center;
  padding: 14px;
  position: relative;
  align-items: center;
  border: 1px solid wheat;
  width: 500px;
  margin-left: 30px;
}

.gh-789 {
  position: absolute;
  height: 400px;
  width: 500px;
  top: 79px;
  padding: 14px;
  border: 1px solid white;
}


.gh-789::before